<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="UTF-8">
<title>奥付</title>
</head>
<body>
<section class="backmatter">
  <div class="colophon">
    <p class="main-title" style="font-size: 12pt; margin-bottom: 2em;">TODO: 本のタイトル</p>
    <dl>
      <dt>発行日</dt>
      <dd>TODO: 2026年X月X日</dd>
      <dt>著者</dt>
      <dd>TODO: ペンネーム</dd>
      <dt>発行</dt>
      <dd>TODO: サークル名</dd>
      <dt>連絡先</dt>
      <dd>TODO: X (Twitter) / pixiv / Web サイト</dd>
      <dt>印刷</dt>
      <dd>TODO: 印刷所名</dd>
    </dl>
    <p style="margin-top: 2em; font-size: 8pt; color: #666;">
      TODO: 二次創作の場合の注意書き等
    </p>
  </div>
</section>
</body>
</html>
